name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
      
      - name: Install ffmpeg
        run: sudo apt install ffmpeg

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Run tests
        run: uv run pytest
        env:
          OPENAI_API_KEY: ${{ secrets.OPEN_AI_TEST_TOKEN }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
